/* General */
@font-face {
  font-family: Letters;
  src: url(img/RockSalt-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
/* box-sizing: ;
border-top: ; */
font-family: 'Letters';
font-size: 14px;

}


/* HEADER -----------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 90vh;
    background:
    linear-gradient(rgba(118, 118, 125, 0.555), rgba(255, 0, 0, 0.264)),
    url(img/wall5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
  display: none;
}

/* BATMANS CAVE---------------------------------------------------------------------------------------- */
.batmans-cave {
  background-color: rgba(121, 99, 99, 0.253);
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.batmans-cave p {
  padding: 60px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}
#div1 {
  width: 333px;
  height: 222px;
  background-color: rgba(39, 33, 33, 0.662);
  clip-path: polygon(39% 39%, 66% 53%, 92% 60%, 100% 100%, 60% 97%, 26% 98%, 0 100%, 10% 58%);
  transition: 5s;
}
#div1:hover {
  background-color:black;
}
#drag1 {
  width: 5em;
}
#div2 {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgba(135, 126, 126, 0.662);
  text-align: center;
  clip-path: polygon(49% 9%, 100% 9%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 10%);
}
#drag2 {
  list-style-type: none;
  padding: 10px;
}
li {
  font-weight: bold;
}

/* BLOGS --------------------------------------------------------------------------------------------------- */
.blogs {
  background: linear-gradient(#814b4bb3, rgba(0,0,0,0.7)),   
  url(img/wall2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog {
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 3px 6px black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    padding-left: 50px; 
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-shadow: 2px 3px 4px greenyellow;
}
.article-body {
  padding-left: 50px;
}
.article-body p {
  font-size: 18px;
}
.author-info img {
    border-radius: 50%;
    margin: 5px;
}
.answers li {
  list-style: none;
  font-size: 18px;
}
.answers li a {
text-decoration: none;
text-shadow: none;
color: rgb(24, 206, 24);
}

/* MAIN VIDEO --------------------------------------------------------------------------------- */
.main-video {
  background-color: rgba(121, 99, 99, 0.253);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50vh;
  padding-top: 50px;
}
.video {
  box-shadow: 0px 0px 84px 5px rgba(0,0,0,0.61);
}

/* ŖEFERENCE -------------------------------------------------------------------------------------------*/
.reference {
   background: linear-gradient(rgba(129, 75, 75, 0.7), rgba(0,0,0,0.7)),   
                url(img/HD-wallpaper-bat-family-dc-comics-batman-comics-superheroes.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}
.references {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
.reference-1{
  width: 50em;
}
  .references article {
    margin: 10px 20px;
    background: #f5f6fa9f;
    border-radius: 10px;
    box-shadow: 0px 3px 6px black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .references img {
    margin-top: 15px;
}
  .references h2 {
    font-size: 23px;
  }
.reference-text {
    margin-top: 20px;
    text-align: center;
    padding: 0 50px 30px 50px;
  }

/* PHOTOS -------------------------------------------------------------------------------------------*/
/*   Photos */
/* .photos {
  display: flex;
  flex-direction: row;
} */
 
.photos img {
  width: 25%;
}

  .photos {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.img-1 {
    order: 2;
 }
 .img-2 {
   order: 1;
 }
 .img-3 {
   order: 0;
 }
 .img-4 {
  order: 3;
 }
 .img-5 {
  order: 4;
 }
 .img-6 {
  order: 5;
 }

/* CONTACT ------------------------------------------------------------------------------------------*/
.contact {
    background: linear-gradient(rgba(129, 75, 75, 0.7), rgba(0,0,0,0.7)),
                url(img/main-photo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
/* CONTACT FORM ------------------------------------------------------------------------------------ */
#contact-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 800px;
  color: white;
  padding: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 15px 0;
}
#msg {
  color: black;
  min-width: 20%;
  width: 30%;
  max-width: 30%;
  height: 95px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 84px 5px rgba(0,0,0,0.61);
  -webkit-box-shadow: 0px 0px 84px 5px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 84px 5px rgba(0,0,0,0.61);
  border: none;
  outline: none;
}
.fullName, .input {
  border: 3px solid rgba(128, 22, 22, 0.871);
  border-radius: 3px;
  height: 40px;
  width: 20%;
  text-align: center;
}
/* .input:active{
  outline: none;
  border: 3px solid rgba(22, 121, 128, 0.871);
  border-radius: 3px;
}
.fullName:active{
  outline: none;
  border: 3px solid rgba(22, 121, 128, 0.871);
  border-radius: 3px;
} */
#send {
  border: 3px solid rgba(128, 22, 22, 0.871);
  border-radius: 3px;
  width: 7%;
  height: 55px;
}
#send:hover {
  background-color: rgba(128, 22, 22, 0.871);
  color: white;
  font-weight: bold;
}

  /* FOOTER ------------------------------------------------------------------------------------------*/
#footer {
  display: flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(128, 22, 22, 0.871);
}
#footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#footer a:hover {
  transition: all .5s ease;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
#footer a:visited {
  color: rgb(255, 255, 255);
} 